.slides > img {
    margin: 30px;
    padding: 10px 20px;
    width: 500px;
    height: auto;
}

#maintitle {
    color: #065446;
    background-color: #fadcac;
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

#carousel_container {
    position: relative;
    margin: 0 auto;
}


.buttoncontainer {
    font-size: 1 OOpx;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #cffffe;
}

.text {
    color: #ebecf1;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 230px;
    left: 50px;
    width: 100%;
    z-index: 10;
}


a:hover {
    color: #382933;
}